<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>


<div class="mx-auto" style="width: 300px;">

    <h2>NUESTRA HISTORIA</h2>

</div>


<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                
                <img src="img/nuestrahistoria/1.jpg" width="200" style="float: left; margin-right: 5px;" >

Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, tempora ex dicta aspernatur quos ipsum. Ullam
dolores eum neque aliquam, nesciunt necessitatibus perferendis obcaecati ea, eveniet reprehenderit, iste fugiat tempora!

            </div>
        </div>
    </div>

<div class="col col-md-2 text-center">
    <button class="btn btn-info">
        1989
    </button>
</div>
</div>


<div class="row mt-3">
    <div class="col col-md-5">
    </div>

    <div class="col col-md-2 text-center">
        <button class="btn btn-secondary">
            1994
        </button>
    </div>

    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequatur corrupti consectetur eaque
                    voluptates unde repudiandae molestias voluptas sed natus, perferendis id nesciunt atque architecto
                    commodi quidem totam neque. Corrupti!</p> 
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col col-md-5">
            <div class="card">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequatur corrupti consectetur eaque
                        voluptates unde repudiandae molestias voluptas sed natus, perferendis id nesciunt atque architecto
                        commodi quidem totam neque. Corrupti!</p> 
                </div>
            </div>
        </div>
    
        <div class="col col-md-2 text-center">
            <button class="btn btn-info">
                1999
            </button>
        </div>
      
        <div class="row mt-3">
            <div class="col col-md-5">
            </div>
        
            <div class="col col-md-2 text-center">
                <button class="btn btn-secondary">
                    2004
                </button>
            </div>

            
            <div class="col col-md-5">
                <div class="card">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequatur corrupti consectetur eaque
                            voluptates unde repudiandae molestias voluptas sed natus, perferendis id nesciunt atque architecto
                            commodi quidem totam neque. Corrupti!</p> 
            </div>
            </div>
            </div>

            </div>

            <div class="row mt-3">
                <div class="col col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequatur corrupti consectetur eaque
                                voluptates unde repudiandae molestias voluptas sed natus, perferendis id nesciunt atque architecto
                                commodi quidem totam neque. Corrupti!</p> 
                        </div>
                    </div>
                </div>
            
            <div class="col col-md-2 text-center">
                <button class="btn btn-info">
                    2009
                </button>
            </div>
            </div>



            <div class="row mt-3">
                <div class="col col-md-5">
                </div>
            
                <div class="col col-md-2 text-center">
                    <button class="btn btn-secondary">
                        2014
                    </button>
                </div>
            
                <div class="col col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequatur corrupti consectetur eaque
                                voluptates unde repudiandae molestias voluptas sed natus, perferendis id nesciunt atque architecto
                                commodi quidem totam neque. Corrupti!</p> 
                </div>
                </div>
                </div>
    
                <div class="row mt-3">
                    <div class="col col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequatur corrupti
                                    consectetur eaque
                                    voluptates unde repudiandae molestias voluptas sed natus, perferendis id nesciunt
                                    atque architecto
                                    commodi quidem totam neque. Corrupti!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-2 text-center">
                        <button class="btn btn-info">
                            2019
                        </button>
                    </div>
                </div>
                </div>

                <p style="height: 100px;"></p>
                <%- include('pie') -%>