<div class="pie">  
    <i class="fas fa-copyright"></i> CENTRO DE CAPACITACIÓN
    <i class="fas fa-map-marked-alt"></i>Mcal.Sucre y La Paz
    <i class="fas fa-phone"></i> +595 021 643 411

</div>


